@model CoreLoanManagement.WebSite.Models.Installment
@{
    ViewBag.Title = "Installments Home Page";
}

<div class="jumbotron">
    <h1>INSTALLMENTS</h1>

</div>

<div class="row">
    <div class="col-md-4">
        <h2>Add loan installment</h2>
    </div>
</div>

@using (Html.BeginForm("", ""))
{
<div class="input-group mb-3">
    <div class="input-group">
        <div class="mb-1">
            @Html.LabelFor(m => m.CustomerName, new { @id = "CustomerNameLabel", @class = "form-label" })
        </div>
        <div class="mb-1">
            @Html.TextBoxFor(m => m.CustomerName, new { @id = "CustomerNameTextBox", @class = "form-control" })
        </div>
    </div>
    <p></p>
    <div class="input-group">
        <div class="mb-3">
            @Html.LabelFor(m => m.LoanDescription, new { @id = "LoanDescriptionLabel", @class = "form-label" })
        </div>
        <div class="mb-3">
            @Html.TextBoxFor(m => m.LoanDescription, new { @id = "LoanDescriptionTextBox", @class = "form-control" })
        </div>
    </div>
    <div class="input-group">
        <div class="mb-3">
            @Html.LabelFor(m => m.InstallmentValue, new { @id = "InstallmentValueLabel", @class = "form-label" })
        </div>
        <div class="mb-3">
            @Html.TextBoxFor(m => m.InstallmentValue, new { @id = "InstallmentValueTextBox", @class = "form-control" })
        </div>
    </div>
</div>

}

@section Scripts
    {
    <script src="~/lib/addloaninstallment/addloaninstallment.js"></script>
    @*<script src="~/Scripts/AddLoanInstallment/AddLoanInstallment.js"></script>*@

}