@model CoreLoanManagement.WebSite.Models.SimulateLoanViewModel
@{
    ViewBag.Title = "Simulate Loan Page";
}

<div class="jumbotron">
    <h1>Simulate Loan</h1>
    <h4>This page demonstrates the observable pattern</h4>
    <h6>@Html.Raw(@"https://medium.com/@Aether7/the-observer-pattern-in-javascript-6b317bbc7ecd")</h6>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Add loan details</h2>
    </div>
</div>

@using (Html.BeginForm("", ""))
{   
    <div class="col-3">
        @Html.LabelFor(m => m.LoanAmount, new { @id = "LoanAmountLabel", @class = "form-label" })       
        @Html.TextBoxFor(m => m.LoanAmount, new { @id = "LoanAmountTextBox", @class = "form-control" })
    </div>
 
    <div class="col-3">
        @Html.LabelFor(m => m.LoanInterestRate, new { @id = "LoanInterestRateLabel", @class = "form-label" })       
        @Html.TextBoxFor(m => m.LoanInterestRate, new { @id = "LoanInterestRateTextBox", @class = "form-control" })
    </div>    
 
    <div class="col-3">
        @Html.LabelFor(m => m.LoanDuration, new { @id = "LoanDurationLabel", @class = "form-label" })       
        @Html.TextBoxFor(m => m.LoanDuration, new { @id = "LoanDurationTextBox", @class = "form-control" })
    </div>

    <div class="col-3">
        @Html.LabelFor(m => m.LoanInstallment, new { @id = "LoanInstallmentLabel", @class = "form-label" })
        @Html.TextBoxFor(m => m.LoanInstallment, new { @id = "LoanInstallmentTextBox", @class = "form-control", @disabled = "disabled" })
    </div>

    <div class="col-3">
        @Html.LabelFor(m => m.LoanInstallmentSum, new { @id = "LoanInstallmentSumLabel", @class = "form-label" })
        @Html.TextBoxFor(m => m.LoanInstallmentSum, new { @id = "LoanInstallmentSumTextBox", @class = "form-control", @disabled = "disabled" })
    </div>

}

@section Scripts
    {
    <script src="~/lib/simulateloan/simulateloan.js"></script>
    @*<script src="~/Scripts/SimulateLoan/SimulateLoan.js"></script>*@

}